frontend/node_modules/
frontend/job-portal/node_modules/
backend/node_modules/
frontend/.env
backend/.env
frontend/build/
backend/dist/
*.log
npm-debug.log*
.DS_Store
Thumbs.db
frontend/job-portal/.angular/
